$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
// border
$borderGray:#d9d9d9;
$borderBleach:#D1D2D2;
//background
$orange: #ffeeee;
$plainBg: #F8F8FE;
// font
$colorGray:#999;

// tab
$tabItem:#56689b;
$tabHover:#41549c;
// 分割线
$halvingLine:#EDF2F7;
// 表格
$tableHeader-bg:#f3f3f3;
$tableHeader-border:#e5e5e5;
$tableHeader-color:#666666;
$editable-bg:#EFF8FF;
$tableContent-bg:#ffffff;
$tableContent-border:#eeeeee;
$tableContent-color:#666666;
// 自定义collapse折叠面板
$collapse-header-color:#41549c;
$collapse-header-bg:#ffffff;
$collapse-content-bg:#ffffff;
// 表格排序箭头颜色
$sort-arrows:#7986aa;
